/* components/MyCaseForm/index.wxss */
.my-case-form-container {
  display: block;
  padding: 25rpx 0 0 0;

  .title {
    margin: 38rpx auto;
    width: 338rpx;
    display: block;
  }

  .house {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      display: flex;
      width: 280rpx;
      height: 80rpx;
      border: 1px solid #eaeaea;
      padding-left: 15rpx;
      padding-right: 15rpx;
      border-radius: 6rpx;
      align-items: center;
      font-size: 28rpx;
      justify-content: space-between;
      margin-bottom: 20rpx;
      // position: relative;

      .icon {
        // position: absolute;
        display: block;
        width: 34rpx;
        height: 34rpx;
      }


      &.select {
        border: 1px solid #f7ece7;
        background: #f7ece7;
      }
    }
  }

  .section {
    display: flex;
    justify-content: space-between;

    button {
      width: 100%;
      background: #e96d2d;
      height: 85rpx;
      line-height: 85rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'PingFangSC-Rgular';
      font-size: 34rpx;
      letter-spacing: 2rpx;
      border-radius: 16rpx;
      font-weight: 400;
    }

    .city {
      background: #ecedf1;
      border-radius: 5px;
      width: 310rpx;
      height: 80rpx;
      line-height: 80rpx;
    }

    .area {
      height: 80rpx;
      background: #ecedf1;
      border-radius: 10rpx;
      width: 310rpx;
      position: relative;

      input {
        width: 100%;
        height: 80rpx;
        line-height: 80rpx;
        // color: #7c7c7c;
        padding-left: 25rpx;
        font-size: 26rpx;
        font-family: 'PingFangSC-Medium';
      }

      .place-holder {
        font-size: 26rpx;
        color: #7c7c7c;
      }

      text {
        position: absolute;
        right: 10rpx;
        top: 0;
        height: 80rpx;
        line-height: 80rpx;
        font-size: 24rpx;
        color: #000;
        font-family: 'PingFangSC-Medium';
      }
    }


  }

  .btns {
    position: relative;
    margin-top: 40rpx;
    button{
      width: 90%;
    }
    .tag-position {
      position: absolute;
      right: 0rpx;
      top: -20rpx;
      z-index: 10;
    }


  }

  .alert{
    width: 390rpx;
    height: 56rpx;
    display: flex;
    border-radius: 28rpx;
    background: #ececec;
    margin: 28rpx auto 0;
    padding: 0 30rpx;
    justify-content: center;
    align-items: center;

    .img{
      width: 44rpx;
      height: 37rpx;
      display: inline-block;
      margin-top: -4rpx;
    }

    .info{
      flex: 1;
      height: 100%;
      padding-right: 10rpx;
      .swipper{
        width: 100%;
        height: 100%;
        font-size: 24rpx;
        line-height: 56rpx;
        text-align: center;
      }
    }
  }
}